<div class="container">
    <br>
    <center><h3>Expenses for Category</h3></center>
    <br>
     <table class="table">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Totals</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each expenses}}
                    <tr>
                        <td>{{this.expense}} </td>
                        <td>{{this.category_type}}</td>
                        <td>{{this.total}}</td>
                        <td> <a href="/delete/{{this.expense_id}}">Delete</a></td>
                    </tr>
                {{/each}}

            </tbody>
        </table>
        <br>
        <a href="/">Back Home</a>
</div>